{% extends 'blog/base.html' %}
   {% block content %}
       {% if p.fecha_publicacion %}
           <div class="post">
               <div class="date">
                   {{ p.fecha_publicacion }}
               </div>
       {% else %}
          <a class="btn btn-default" href="{% url 'post_publish' pk=p.pk %}">Publicar</a>
       {% endif %}
               <a class="btn btn-default" href="{% url 'post_edit' pk=p.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-default" href="{% url 'post_remove' pk=p.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
               <h1><a href="">{{ p.titulo }}</a></h1>
               <p>{{ p.texto|linebreaksbr }}</p>
           </div>

   {% endblock content %}
